.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.NewPokemonBtn {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #fafafa;
  line-height: 32px;
  background: none;
  border: 3px solid#fafafa;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 20px 95px;
  cursor: pointer;
  transition: all 0.3s;
}

.NewPokemonBtn:hover {
  border: 3px solid #f300b4;
  color: #f300b4;
  transition: all 0.3s;
}